.questions {
  margin: 20px 30px;
  font-weight: 400;
  line-height: 48px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  padding: 27px 18px 16px 18px;
  font-size: 14px;
  line-height: 16.1px;
}
.answer {
  margin-left: 20px;
}
.example-full-width {
  margin-top: 20px;
  width: 100%;
}
.material-symbols-outlined {
  opacity: 0.5;
  font-size: 25px;
}
