<div class="questions">
  <div class="ques">
    <label id="example-radio-group-label">1. Question</label>
    <div class="answer">
      <div class="stars">
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
      </div>
    </div>
  </div>
</div>
