<div class="questions">
  <app-top-icons [ques]="ques"></app-top-icons>
  <form class="question">
    <div class="ques">
      <h2 style="margin: 0 30px 0 30px">
        {{ ques?.questionId || mainService.questionId }}.
      </h2>
      <mat-form-field class="example-full-width">
        <span matSuffix class="material-symbols-outlined upload">
          save_as
        </span>
        <input
          matInput
          placeholder="Enter your question"
          [(ngModel)]="question"
          (ngModelChange)="question = $event"
          name="ques"
        />
      </mat-form-field>
    </div>
    <div class="answer">
      <mat-form-field class="example-full-width">
        <span matSuffix class="material-symbols-outlined upload">
          calendar_month
        </span>
        <input
          matInput
          placeholder="Enter your answer"
          value="Please inpute date (M/d/yyyy)"
          disabled="true"
        />
      </mat-form-field>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="functionalityBtns">
    <div class="fnBtn">
      <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
      >
        Required
      </mat-slide-toggle>
    </div>
    <div class="fnBtn">
      <span class="material-symbols-outlined"> more_horiz </span>
    </div>
  </div>
</div>
