<mat-toolbar style="background-color: #ffffff">
  <mat-tab-group>
    <mat-tab label="Questions"> </mat-tab>
    <mat-tab label="Responses"> </mat-tab>
  </mat-tab-group>

  <span class="example-spacer"></span>
  <div class="tools">
    <button class="previewBtn" (click)="onPreviewClick()">
      <span class="material-symbols-outlined"> visibility </span>
      <span style="margin-left: 5px">Preview</span>
    </button>

    <button class="styleBtn">
      <span class="material-symbols-outlined"> palette </span>
      <span style="margin-left: 5px">Style</span>
    </button>
    <button mat-flat-button class="collectRes">
      <span style="color: #ffffff">Collect responses</span>
    </button>
    <span class="material-symbols-outlined optionBtn"> more_horiz </span>
  </div>
</mat-toolbar>
